body {
  text-align: center;
  font-family: sans-serif;
  background: #fff8e1;
  color: #333;
}

.wheel-container {
  position: relative;
  margin: 20px auto;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 20px;
  background: #ff9800;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
